:root {
  background-color: #0a741f;
  text-align: center;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.game-area {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  padding: 20px;
}

.deck-section {
  text-align: left;
  width: 100%;
}

.columns-section {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 20px;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100px;
}

.column .card {
  position: absolute;
  top: 0;
  left: 0;
}

.column .card-back {
  /* top: calc(30px * var(--stack-index));
  z-index: var(--stack-index); */
}

.revealed-deck {
  position: absolute;
  flex-direction: column;
  width: 100px;
  height: 150px;
}

.revealed-deck .card {
  position: absolute;
  top: 0;
  left: 0;
}
