:root {
  background-color: #0a741f;
  text-align: center;
  color: #f0f0f0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
}

button {
  padding: 15px 40px;
  font-size: 20px;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background: rgba(255, 255, 255, 0.4);
  border-color: rgba(255, 255, 255, 0.7);
}

.game-area {
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.foundation-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 60%;
  margin-bottom: 50px;
}

.foundation-stack {
  width: 100px;
  height: 150px;
  border: 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 10px;
}

.foundation-stack .card {
  margin-top: 0;
  position: relative;
  z-index: 1;
}

.deck-section {
  text-align: left;
  width: 30%;
  display: flex;
  padding: 20px;
}

.columns-section {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 20px;
  width: 80%;
}

.column {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100px;
}

.column .card {
  position: absolute;
  top: 0;
  left: 0;
}

.revealed-deck {
  position: absolute;
  flex-direction: column;
  width: 100px;
  height: 150px;
}

.revealed-deck .card {
  position: absolute;
  top: 0;
  left: 0;
}

.deck-section .deck,
.revealed-deck,
.foundation-stack,
.column {
  position: relative;
}

.placeholder {
  position: absolute;
  width: 100px;
  height: 150px;
  border: 2px dashed rgba(0, 0, 0, 0.2);
  background-color: lightgreen;
  border-radius: 10px;
  top: 0;
  left: 0;
}

.column .placeholder {
  margin-top: 50px;
}

.revealed-deck .placeholder {
  margin-top: 50px;
}

.reverse-icon {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}
