:root {
  background-color: #0a741f;
  text-align: center;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.game-area {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  padding: 20px;
}

.foundation-section {
  display: flex;
  flex: 1 1 100%;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  margin-bottom: 50px;
}

.foundation-stack {
  width: 100px;
  height: 150px;
  border: 2px dashed rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 10px;
}

.deck-section,
.columns-section {
  flex: 1 1 50%;
}

.deck-section {
  text-align: left;
  width: 100%;
}

.columns-section {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 20px;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100px;
}

.column .card {
  position: absolute;
  top: 0;
  left: 0;
}

.column .card-back {
  /* top: calc(30px * var(--stack-index));
  z-index: var(--stack-index); */
}

.revealed-deck {
  position: absolute;
  flex-direction: column;
  width: 100px;
  height: 150px;
}

.revealed-deck .card {
  position: absolute;
  top: 0;
  left: 0;
}

/* Placeholder for decks */
.deck-section .deck,
.revealed-deck,
.foundation-stack,
.column {
  position: relative;
}

.placeholder {
  position: absolute;
  width: 100px;
  height: 150px;
  border: 2px dashed rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  top: 0;
  left: 0;
  background-color: transparent;
}

.column .placeholder {
  margin-top: 50px;
}

.revealed-deck .placeholder {
  margin-top: 50px;
}
